/* Empty. Add your own CSS if you like */
.doBlur{
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.app-bg {
  background: rgba(0, 0, 0, 0) url("../img/bg.jpg") no-repeat scroll 0 0 / cover;
}

.app-logo {
  width: 200px;
  display: block;
  margin: auto;
}

.time-clock {
  cursor: pointer;
}

.popup-head {
  border: 0;
}

.popup-container .popup {
  background: transparent;
}

.close-popup {
  cursor: pointer;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.bold {
  font-weight: bolder;
}

.bigSize {
  font-size: 24px;
}

.red{
  color: red;
}