<ion-view view-title="About">
	<ion-content class="app-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu vestibulum mauris. Vestibulum porttitor suscipit purus
		ac porttitor. Mauris ac leo sagittis, feugiat velit ut, ultricies nibh. Donec condimentum, felis quis feugiat gravida, tortor
		massa laoreet lectus, sed suscipit mi enim nec tortor. Sed augue elit, pretium in vestibulum a, imperdiet ut felis. Etiam
		ultricies metus a urna porttitor iaculis. Aliquam sapien libero, interdum sed lobortis faucibus, rutrum vel quam. Suspendisse
		quis eros eget mauris ultricies vestibulum nec sed nulla. Etiam et bibendum mauris. Suspendisse ultrices eget purus ut euismod.
		</ion-content>
</ion-view>