<ion-view view-title="<div class='h1 title text-white'>{{ today | date : 'EEE | MMM | dd' }}</div>">
  <ion-content class="app-bg">
    <div ng-include src="contentFilePath"></div>
  </ion-content>
  <ion-footer-bar align-title="left" class="footer-cal">
    <div class="col" ng-class="{bold : day.getDate() == today.getDate()}" ng-repeat="day in daysInWeek track by $index" ng-click="resetDate(day)">
      <span class="cal-day">{{ day.day }}</span>
      <span class="cal-date">{{ day.getDate() }}</span>
      <span class="red-dot" ng-if="day.hasEvent"></span>
    </div>
  </ion-footer-bar>

  <!-- <section class="footer-bg">
    <div class="cal-wrap" ng-class="{bold : day.getDate() == today.getDate()}" ng-repeat="day in daysInWeek track by $index" ng-click="resetDate(day)">
      <span class="cal-day">{{ day.day }}</span>
      <span class="cal-date">{{ day.getDate() }}</span>
      <span class="red-dot" ng-if="day.hasEvent">evn</span>
    </div>
  </section> -->

</ion-view>