<ion-view view-title="<center>{{ today | date : 'EEE | MMM | dd' }}</center>">
  <ion-content class="app-bg">
    <h1>
      <img src="img/logo.png" alt="" class="app-logo" />
    </h1>
    <img src="img/time-clock.png" alt="" class="full-image time-clock" ng-click="showPopup($event)" />
    <div><b>{{ nextEvent.artist_name }} in {{timeRemaining}}</b></div>    
    <div class="">      
      <div class="" ng-repeat="event in events | filter:{ date: setDate.getDate()}">
        <b>{{event.artist_name}}</b>: {{event.start_time | date : 'dd-MM-yy hh:mma' }} to {{event.end_time | date : 'dd-MM-yy hh:mma'}}
      </div>
    </div>   
    <div class="row row-bottom">
      <div class="col" ng-class="{bold : day.getDate() == today.getDate()}" ng-repeat="day in daysInWeek track by $index" ng-click="resetDate(day)">
        <span>{{ day.day }}</span>
        <span class="bigSize">{{ day.getDate() }}</span>  
          <span class="red" ng-if="day.hasEvent">evn</span>        
      </div>
    </div>
  </ion-content>
</ion-view>